<nav class="navbar navbar-dark bg-dark p-1">
  <div class="container-fluid p-0">
    <div class="form-inline w-100">
      <div class="col">
        <a href="#" class="btn btn-secondary mr-1">
          <fa-icon [icon]="faHome" size="lg"></fa-icon>
        </a>
        <button class="btn btn-secondary mr-1">
          <fa-icon [icon]="faTable" size="lg"></fa-icon>
          Boards
        </button>
      </div>
      <div class="col text-center p-0">
        <h2
          class="text-primary text-light font-italic font-family-arial text-center"
        >
          Tabllo
        </h2>
      </div>
      <div class="col d-flex justify-content-end">
        <button class="btn btn-secondary mr-1">
          <fa-icon [icon]="faPlus" size="lg"></fa-icon>
        </button>
        <button class="btn btn-secondary mr-1">
          <fa-icon [icon]="faBell" size="lg"></fa-icon>
        </button>
        <button class="btn btn-secondary rounded-circle">
          <b>S</b>
        </button>
      </div>
    </div>
  </div>
</nav>
